<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.1/phpunit.xsd"
        colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>



    <logging>
      <junit outputFile="teste-avaliador.xml"/>
      <teamcity outputFile="teste-avaliador.txt"/>
      <testdoxHtml outputFile="teste-avaliador.html"/>
      <testdoxText outputFile="teste-avaliador.txt"/>
    </logging>

</phpunit>